.searchBar {
  border-radius: 4rem;
  margin: 5rem auto;
  padding: 3rem;
  width: 80vw;
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  .searchBarInput {
    text-overflow: ellipsis;
    width: 20em;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--gray-50);
    outline: none;
    padding: 0.1rem 0.2rem;
   
  }
  h3 {
    font-size: 2rem;
  }
  button{
      padding: 0.2rem 0.5rem;
  }
}
